@import url('./another.module.css');

.container {
    border: 2px solid greenyellow;
    background-color: black;
    color: lime
}

.input {
    background-color: white;
    border: none;
}

.valid {
    border: 2px solid green;
    background-color: lightgreen;
}

.invalid {
    border: 2px solid red;
    background-color: lightcoral;
}