.lightTheme {
    background-color: white;
    color: black;
    border: 3px solid black;
    padding: 20px;
}


.darkTheme {
    background-color: black;
    color: white;
    border: 3px solid white;
    padding: 20px;
}
